.talk-meta {
  font-size: $base-font-size;
  color: $grey-color;
}

.talk-info {
  font-size: $base-font-size;
  color: $grey-color-dark;    
}

.talk-header {
    margin-bottom: 0;
}

.talk-speaker {
    font-size: $base-font-size * 1.5;
}

.talk-page-info {
    font-size: $base-font-size * 1.125;
}
