---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

    {{ content }}

    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    
    {% assign current_reading_seminars = site.reading_seminars | where: "active", true %}
    {%- if current_reading_seminars.size > 0 -%}
    <h2 class="post-list-heading">Current reading seminar(s)</h2>
    <ul class="post-list">
    {%- for post in current_reading_seminars -%}
    <li>
      <h3>
	<a class="post-link" href="{{ post.url | relative_url }}">
	  {{ post.title | escape }}
	</a>
      </h3>
    </li>
    {%- endfor -%}
    </ul>
    {%- endif -%}

    {% assign current_posts = site.posts | where: "active", true %}
      {%- if current_posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "General announcements" }}</h2>
    <ul class="post-list">
      {%- for post in current_posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  {% assign future_talks = site.talks | in_future %}
  {%- if future_talks.size > 0 -%}
    <h2 class="post-list-heading">Upcoming Talks</h2>
    <ul class="post-list">
      {%- for talk in future_talks limit: 5 -%}
      <li>
	<span class="talk-meta">{{ talk.date | date: date_format }}</span>
	<h3 class="talk-header">
	  <a class="post-link" href="{{ talk.url | relative_url }}">
	    {{ talk.speaker }} - {{ talk.title }}
	  </a>
	</h3>
	<span class="talk-info">Time: {{ talk.time }} &mdash; Location: {{ talk.location }}</span>
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}

    {%- assign previous_talks = site.talks | in_past %}
    {%- if previous_talks.size > 0 -%}
    <h2 class="post-list-heading">Previous Talks</h2>
    <ul class="post-list">
      {%- for talk in previous_talks limit: 5 -%}
      <li>
	<span class="talk-meta">{{ talk.date | date: date_format }}</span>
	<h3 class="talk-header">
	  <a class="post-link" href="{{ talk.url | relative_url }}">
	    {{ talk.speaker | capitalize }} - {{ talk.title | capitalize }}
	  </a>
	</h3>
	{%- if talk.video_url -%}<span class="talk-info"><a href="{{ talk.video_url }}">Video</a></span>{%- endif -%}{%- if talk.slides_url -%}<span class="talk-info"><a href="{{ talk.slides_url }}">Slides</a></span>{%- endif -%}{%- if talk.notes_url -%}<span class="talk-info"><a href="{{ talk.notes_url }}">Notes</a></span>{%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
