---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <span class="talk-speaker">{{ page.speaker }} {% if page.affiliation %}({{page.affiliation}}){% endif %}</span>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="talk-page-info">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.start_time -%}&mdash; <span>Time: {{ page.start_time }}</span>{%- endif -%} {%- if page.location -%}&nbsp;&mdash; <span>Location: {{ page.location }}</span>{%- endif -%}<br/>{% if page.video_url %}
      <a class="talk-url" href="{{ page.video_url }}">Video</a>
      {% endif %}
    {% if page.slides_url %}
      <a class="talk-url" href="{{ page.slides_url }}">Slides</a>
      {% endif %}
    {% if page.notes_url %}
      <a class="talk-url" href="{{ page.notes_url }}">Notes</a>
    {% endif %}</p>
  </header>

  <div class="post-content">
    {%- if page.seminar -%}
    <p>This talk is part of the following reading seminar:
      {% assign seminar = site.reading_seminars | where: "key", page.seminar | first %}
      <a href="{{ seminar.url }}">{{ seminar.title }}</a>.
    </p>
    {%- endif -%}

    <h2>Abstract</h2>
    <p>{{ page.abstract }}</p>

    {{ content }}
  </div>
  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
